<section class="table-container mat-elevation-z8" *ngIf="repaymentPlan?.repaymentPlanEntries?.length || 0 > 0">
    <table mat-table [dataSource]="repaymentPlan.repaymentPlanEntries">
  
      <!-- Datum -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Datum </th>
        <td mat-cell *matCellDef="let element"> {{element.date.toLocaleDateString('de')}} </td>
        <td mat-footer-cell *matFooterCellDef> Zinsbindungsende </td>
      </ng-container>
  
      <!-- Restschuld -->
      <ng-container matColumnDef="residualDebt">
        <th mat-header-cell *matHeaderCellDef> Restschuld </th>
        <td mat-cell *matCellDef="let element"> {{element.residualDebt.toFixed(2)}}€ </td>
        <td mat-footer-cell *matFooterCellDef> {{repaymentPlan.residualDebt.toFixed(2)}}€ </td>
      </ng-container>
  
      <!-- Zinsen -->
      <ng-container matColumnDef="interest">
        <th mat-header-cell *matHeaderCellDef> Zinsen </th>
        <td mat-cell *matCellDef="let element"> {{element.interest.toFixed(2)}}€ </td>
        <td mat-footer-cell *matFooterCellDef> {{repaymentPlan.totalInterest.toFixed(2)}}€ </td>
      </ng-container>
  
      <!-- Tilgung(+)/Auszahlung(-) -->
      <ng-container matColumnDef="repayment">
        <th mat-header-cell *matHeaderCellDef> Tilgung(+)/Auszahlung(-) </th>
        <td mat-cell *matCellDef="let element"> {{element.repayment.toFixed(2)}}€ </td>
        <td mat-footer-cell *matFooterCellDef> {{repaymentPlan.totalRepayment.toFixed(2)}}€ </td>
      </ng-container>

      <!-- Rate -->
      <ng-container matColumnDef="repaymentRate">
        <th mat-header-cell *matHeaderCellDef> Rate </th>
        <td mat-cell *matCellDef="let element"> {{element.repaymentRate.toFixed(2)}}€ </td>
        <td mat-footer-cell *matFooterCellDef> {{repaymentPlan.totalRepaymentRate.toFixed(2)}}€ </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      <tr mat-footer-row *matFooterRowDef="columns; sticky: true" class="footer"></tr>

    </table>
  </section>